card_btn {
    display: block;
    margin-left: auto;
    background-color: white;
    border: none;
    padding: 0.6em 1.2em;
    font-size: 1.8rem;
    border-radius: 0.7em;
    font-weight: 400;
    transition: transform 100ms ease;
        
}

.card__btn:hover {
    transform: scale(1,1);
    box-shadow: 0 0 1em #0004;
    background-color: rgb(38, 38, 38);
    color: white;
    
}


.btn__Phrase {
    border-radius: 10px;
    border-color: black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 1.4rem;
    background-color: rgb(83, 83, 180);
    color: azure;
    padding: 15px 30px;
}

.btn__Phrase:hover {
    background-color: darkblue;
    color: white;
}